
<div class="home-tagline">
    <p>List Your Spare Parts Needs and Have the Market Come to You</p>
</div>

<div class="button-submit">
    <%= link_to "Submit a Spare Parts Request", new_request_path %>
</div>

<div class="button-browse">
    <%= link_to "Browse Spare Parts Requests", requests_path %>
</div>