
<div class="home-tagline">
    <p>List Your Spare Parts Needs - Have the Market Come to You</p>
</div>

<div class="home-buttons">
    <div class="submit">
        <%= link_to "Submit Parts Request", new_request_path, class: "button-submit" %>
    </div>

    <div class="browse">
        <%= link_to "Browse Parts Requests", requests_path, class: "button-browse" %>
    </div>
</div>