
<div class="home-statement">
<h3>List Your Spare Parts Needs and Have the Market Come to You</h3>
</div>

<p>
<%= link_to "Submit a Spare Parts Request", new_request_path %>
</p>

<p><%= link_to "Browse Spare Parts Requests", requests_path %></p>