<h1>Available Offers</h1>

<% @offers.each do |offer| %>
    <p>Message from supplier: <%= offer.message %></p>
    <p>Part Price: <%= offer.price %></p>
    <p>
    <%= link_to  "Accept Offer", offer %>
    </p>
<% end %>