<h3>Offer Details</h3>

<p>Message: <%= @offer.message %></p>
<p>Price: <%= @offer.price %></p>


<% if user_signed_in? %>
  <%= render 'charge_form', post: @request %>
<% else %>
<%= link_to new_user_session_path, class:'stripe-button-el' do %>
  <span style="display: block; min-height: 30px;">Accept Offer and Buy</span>
  <% end %>
<% end %>

